@use '../../global/_variables.scss' as vars;

.Container {
  text-align: center;
  font-size: vars.$font-size-base;
  font-weight: normal;
  cursor: pointer;
  margin-bottom: 1vh;
  padding-left: 10px;
  width: fit-content;

  @media only screen and (max-width: vars.$screen-sm-max) {
    padding-left: 20px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }

  &:hover {
    font-weight: bold;
    font-size: vars.$font-size-base;
    color: vars.$link-hover-color;
  }
}

.Active {
  font-weight: 900;
  color: vars.$link-hover-color;
  &:hover {
    color: vars.$link-hover-color;
  }
}
