@use '../../../global/_variables.scss' as vars;

.Container {
  display: flex;
  padding: 70px 35px;
  flex-basis: 25%;
  flex-direction: column;
  border-right: 1px rgb(155, 155, 155) solid;

  @media only screen and (max-width: vars.$screen-sm-max) {
    border-right: unset;
    flex-basis: unset;
    border-bottom: 1px rgb(155, 155, 155) solid;
    padding: 30px 30px 20px 30px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    min-height: 175px;
  }

  .Wrapper {
    height: 10vh;
  }
}
