@use '../../../global/_variables.scss' as vars;

.Container {
  display: flex;
  padding: 80px 40px;
  flex-basis: 25%;
  flex-direction: column;
  border-right: 1px rgb(155, 155, 155) solid;

  .Wrapper {
    height: 10vh;
  }
}
