@use '../../global/_variables.scss' as vars;

.Container {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media only screen and (max-width: vars.$screen-sm-max) {
    max-height: 75px;
  }
}
