@use '../../global/_variables.scss' as vars;

.Container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  border: 1px solid #b3b3b3;

  background-color: transparent;
  border-radius: 5px;
  margin-bottom: 3vh;

  .Input {
    width: 90%;
    height: 100%;
    border: unset;
    outline: unset;
    background-color: transparent;
    font-size: vars.$font-size-base;

    @media only screen and (max-width: vars.$screen-sm-max) {
      width: 92%;
    }
  }

  @media only screen and (max-width: vars.$screen-sm-max) {
    margin-bottom: 10px;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b3b3b3;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b3b3b3;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #b3b3b3;
  }
}
