@use '../../global/_variables.scss' as vars;

.Container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 70px;

  @media only screen and (max-width: vars.$screen-sm-max) {
    padding: 40px;
    overflow-x: hidden;
  }

  :last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
