@use '../../global/variables' as vars;

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .SVG {
    max-height: 300px;
    margin-bottom: 50px;
  }

  .ErrorText {
    max-height: vars.$font-size-large;
    font-size: vars.$font-size-large;
  }
}
